cs-project/css-to-xpath/JavascriptString.js
cs-project/css-to-xpath/JavascriptString.cs
cs-project/css-to-xpath/bin
cs-project/css-to-xpath/obj
cs-project/.vs
cs-project/packages
cs-project/WindowsFormsApp1/bin
cs-project/WindowsFormsApp1/obj